@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.page-header {
  display: flex;
  flex-grow: 0;
  flex: 0 0 auto;
}

.page-footer {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex: 1 0 auto;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

/* TODO: поменять стили тегов на стили классов */
h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
}

h2 {
  font-size: 40px;
  line-height: 48px;

}

h3 {
  font-size: 30px;
  line-height: 36px;
}

h4 {
  font-size: 24px;
  line-height: 28px;
}

a {
  color: #000000;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.navigation{
  display: grid;
  grid-template-columns: repeat(3, 400px);
  width: 1200px;
  height: 70px;
  margin: 0 auto;
  background-color: #ffffff;
}

.navigation-list {
  margin: 0;
  padding: 0 70px;
  width: 430px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  background-color: #ffffff;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-user {
  max-width: 250px;
  margin-left: auto;

}

.navigation-link {
  text-decoration: none;
  padding: 16px;
}

.logo {
  background-color: #ffffff;
  display: block;
  margin: 0 auto;
}

.button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  border-radius: 4px;
}

.button-brown {
  color: #ffffff;
  background-color: #756257;
  border-radius: 4px;
}

.search-lead {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 71px;
}

.lead {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 50px;
}

.lead-container {
  background-color: #ffffff;
  padding-top: 13px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hotels-result {
  padding-left: 71px;
  padding-right: 71px;
}

.text-main {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

h3,
.advantage-title {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 100px;
}

.advantage-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;

  list-style-type: none;
}

.advantage-item {
  width: 400px;
  /* padding-top: 100px; */
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-position: center 90px;
}

.town-container {
  background-image: url("../image/cafe.jpg");
  background-repeat: no-repeat;
  background-position: right top;
}

.bridge-container {
  background-image: url("../image/devils-bridge.jpg");
  background-repeat: no-repeat;
  background-position: left top;
}

.bridge {
  margin-left: auto;
}

.text-tile {
  width: 250px;
  margin: 0 auto;
}

.text-sedona {
  width: 220px;
}

.blue-tile {
  background-color: #83B3D3;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.accomodation {
  background-image: url("../image/accomodation.svg");
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-color: rgba(131, 179, 211, 0.12);
  padding-top: 75px;
}

.food {
  background-image: url("../image/food.svg");
  background-size: 74px 70px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  padding-top: 75px;
}

.souvenirs {
  background-image: url("../image/souvenirs.svg");
  background-size: 74px 70px;
  background-repeat: no-repeat;
  background-color: rgba(131, 179, 211, 0.12);
  padding-top: 75px;
}

.number {
  padding-top: 25px;
  padding-bottom: 25px;
}

.area,
.tourists {
  background-color: rgba(131, 179, 211, 0.12);
}

.road {
  background-color: rgba(131, 179, 211, 0.2);
}

.white {
  color: #ffffff;
}

.search-hotels {
  text-align: center;
  padding-top: 51px;
  padding-bottom: 91px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.contacts-container {
  display: flex;
  background-color: #ffffff;
  padding: 0 70px;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 30px;
  align-items: center;
}

.less-space {
  line-height: 26px;
  margin-bottom: 53px;
}

.button-blue {
  color: #ffffff;
  background-color: #83B3D3;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-text {
  margin-bottom: 26px;
}

.subscribe-email {
  width: 600px;
  height: 60px;
  background: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  padding-left: 22px;
  font-size: 18px;
}

.button-subscribe {
  width: 200px;
  height: 60px;
  border-radius: 0px 10px 10px 0px;
  border: 0;
}

.quantity-container {
  display: flex;
}

.footer-index {
  background-image: url("../image/subscribe-background.jpg");
  background-size: 1200px 411px;
  background-repeat: no-repeat;
  background-color: #83b3d3;
  text-align: center;
  padding-bottom: 100px;
  padding-top: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-inner {
  text-align: center;
  padding-bottom: 138px;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000000;
  background-color: #ffffff;
}

.telephone {
  font-size: 30px;
  line-height: 30px;
  text-decoration: none;
}

.academy {
  display: block;
  width: 115px;
  height: 34px;
  background-image: url("../image/html-academy.svg");
  background-size: 115px 34px;
  background-repeat: no-repeat;
}

.button-green {
  color: #ffffff;
  background-color: #7DB54F;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
  padding: 0;
}

.breadcrumb-index {
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("../image/index.svg");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  padding-right: 11px;
}

.catalog-filter-container {
  display: flex;
}

.catalog-filter-group {
  border: none;
}

.catalog-filter-list {

  padding: 0;
  list-style-type: none;
}

.modes {
  padding: 0;
  list-style-type: none;
  display: flex;
}

.mode-list {
  display: block;
  width: 48px;
  height: 48px;
  margin: 2px;
  background-image: url("../image/mode-list.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.mode-slide {
  display: block;
  width: 48px;
  height: 48px;
  margin: 2px;
  background-image: url("../image/mode-slideshow.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.mode-tile {
  display: block;
  width: 48px;
  height: 48px;
  margin: 2px;
  background-image: url("../image/mode-tile.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.product-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.product-card-link {
  font-size: 24px;
  line-height: 31px;
  font-weight: bold;
}

.text-main {
  font-size: 18px;
  line-height: 23px;
}

.rating {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.load-more  {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 625px;
  height: 55px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.button-search {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 575px;
  height: 60px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.filter-container {
  background-image: url("../image/catalog-bg.png");
  background-size: 1200px 411px;
  background-repeat: no-repeat;
  background-color: #83b3d3;
  padding-left: 71px;
  padding-right: 71px;
}

.pagination {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.pagination-link {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  margin: 4px;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
}

.twitter {
  display: block;
  width: 18px;
  height: 15px;
  margin: 15px;
  background-image: url("../image/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.facebook {
  display: block;
  width: 10px;
  height: 18px;
  margin: 15px;
  background-image: url("../image/fb.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.youtube {
  display: block;
  width: 20px;
  height: 16px;
  margin: 15px;
  background-image: url("../image/youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.search {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url("../image/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.like {
  display: block;
  width: 18px;
  height: 17px;
  background-image: url("../image/like.svg");
  background-repeat: no-repeat;
  background-position: center;
}
