@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.page-header {
  display: flex;
  flex-grow: 0;
  flex: 0 0 auto;
}

.page-footer {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex: 1 0 auto;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

/* TODO: поменять стили тегов на стили классов */
h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
}

h2 {
  font-size: 40px;
  line-height: 48px;

}

h3 {
  font-size: 30px;
  line-height: 36px;
}

h4 {
  font-size: 24px;
  line-height: 28px;
}

a {
  color: #000000;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.navigation{
  display: flex;
  width: 1200px;
  height: 70px;
  margin: 0 auto;
  background-color: #ffffff;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 430px;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  background-color: #ffffff;

  list-style-type: none;


  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation-user {
  max-width: 250px;
  margin-left: auto;

}

.navigation-link {
  text-decoration: none;
}

.logo {
  background-color: #ffffff;

  display: block;
  margin: 0 auto;
}

.button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

.button-brown {
  color: #ffffff;
  background-color: #756257;
}

.lead {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.lead-container {
  background-color: #ffffff;
  height: 282px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-main {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

h3,
.advantage-title {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantage-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;

  list-style-type: none;
}

.advantage-item {
  width: 400px;
  height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blue-tile {
  background-color: #83B3D3;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.accomodation {
  background-image: url("../image/accomodation.svg");
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-color: rgba(131, 179, 211, 0.12);
}

.food {
  background-image: url("../image/food.svg");
  background-size: 74px 70px;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.souvenirs {
  background-image: url("../image/souvenirs.svg");
  background-size: 74px 70px;
  background-repeat: no-repeat;
  background-color: rgba(131, 179, 211, 0.12);
}

.area,
.tourists {
  background-color: rgba(131, 179, 211, 0.12);
}

.road {
  background-color: rgba(131, 179, 211, 0.2);
}

.white {
  color: #ffffff;
}

.search-hotels {
  text-align: center;
  height: 417px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-list {
  display: flex;

  list-style-type: none;
}

.contacts-container {
  display: flex;
  background-color: #ffffff;
  padding: 0 70px;
  justify-content: space-between;
  height: 120px;
  align-items: center;
}

.less-space {
  line-height: 26px;
}

.button-blue {
  color: #ffffff;
  background-color: #83B3D3;
}

.footer-index {
  background-image: url("../image/subscribe-background.jpg");
  background-size: 1200px 411px;
  background-repeat: no-repeat;
  background-color: #83b3d3;
  text-align: center;
  height: 411px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-inner {
  text-align: center;
  height: 411px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000000;
  background-color: #ffffff;
}

.telephone {
  font-size: 30px;
  line-height: 30px;
}

.button-green {
  color: #ffffff;
  background-color: #7DB54F;
}

.breadcrumbs {
  display: flex;

  list-style-type: none;
}

.catalog-filter-container {
  display: flex;
}

.catalog-filter-list {

  list-style-type: none;
}

.product-list {

  list-style-type: none;
}

.product-card-link {
  font-size: 24px;
  line-height: 31px;
  font-weight: bold;
}

.text-main {
  font-size: 18px;
  line-height: 23px;
}

.rating {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.filter-container {
  background-image: url("../image/catalog-bg.png");
  background-size: 1200px 411px;
  background-repeat: no-repeat;
  background-color: #83b3d3;
}

.twitter {
  background-image: url("../image/twitter.svg");
  background-repeat: no-repeat;
}

.facebook {
  background-image: url("../image/fb.svg");
  background-repeat: no-repeat;
}

.youtube {
  background-image: url("../image/youtube.svg");
  background-repeat: no-repeat;
}

.search {
  background-image: url("../image/search.svg");
  background-repeat: no-repeat;
}

.like {
  background-image: url("../image/like.svg");
  background-repeat: no-repeat;
}
